__pycache__
.DS_Store
.ipynb_checkpoints
.env/
.vscode/
*.egg-info/
build/
dist/
paper/

data/
saved_models/
notebooks/
bash_scripts/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
